
body{
    background-color: black;
    color: antiquewhite;
   }
   div {
       
   }
   div ul { 
       list-style-type: none;
       display: flex;
       
     }
   
    
   div ul li a{
       color: antiquewhite;
       margin: 0 10px; 
       padding: 100px;
     
   }  
   
   div.navigation {
       margin-top: auto; /* Pushes the div to the bottom */
       padding: 100px; /* Optional: Add padding */
       background-color: #c6c6c6;/* Optional: Background color for contrast */
       text-align: center;
       border:70
       width: 100%;
   }