/* Navbar Styling */
nav.navbar {
  font-family: 'STIX Two Text', serif; /* Apply STIX Two Text font */
  background-color: black;
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar Links */
nav.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
}

/* Hover effect for links */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #ffaef3, #fff4b1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.navbar.bg-dark {
  background-color: #000000 !important; /* Pure black */
}